@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-corporate-50: #fdfae9;
  --color-corporate-100: #fbf3c4;
  --color-corporate-200: #f7e891;
  --color-corporate-300: #f4db56;
  --color-corporate-400: #f0cb27;
  --color-corporate-500: #e2b13c;
  --color-corporate-600: #cc9622;
  --color-corporate-700: #a46d1e;
  --color-corporate-800: #86551d;
  --color-corporate-900: #72461e;
  --color-corporate-950: #0A1128;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-corporate-950);
  color: white;
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
